body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff5733;
    text-align: center;
    align-items: center;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

#logo h1 {
    margin: 10px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

#head-link ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#head-link li {
    float: left;
}

#head-link li a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

#head-link li a:hover {
    background-color: #111;
}

#head-link li a:hover {
    background-color: #111;
    font-weight: bold;
    color: #ff5733;
}

#content {
    display: flex;
    margin-top: 100px;
}

#left-content {
    width: 25%;
    background-color: #fff;
    padding: 10px;
    margin: 10px 5px 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#left-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#right-content {
    width: 75%;
    background-color: #fff;
    padding: 10px;
    margin: 10px 10px 10px 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    #content {
        flex-direction: column;
    }

    #left-content, #right-content {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 480px) {
    #head-link li {
        float: none;
        width: 100%;
    }
}
